.active{
    text-decoration: none;
    color: darkblue;
}

.textNavLink{
    text-decoration: none;
    color: darkorange;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.icon {
    color: darkorange !important;
}