p{
    font-size: 3em;
    font-weight: bold;
}

i{
    font-size: 2em;
}

.welcomeText {
    color: darkorange
}

.homeBackground{
    background: no-repeat;
    background-position: center;
    height: 70vh;
    width: 95vw;
    position: absolute;
    background-size: cover;
    z-index: 0;
}

.textContainer{
    z-index: 100;
    position: relative;
    color: white;
    transform: translateY(50%);
}