body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textContainer{
    text-align: center; 
}

.bodyContainer{
  padding-left: 200px;
  padding-top: 4.5vh;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-top: 13rem;
}

.button{
    color: white !important;
    background-color: darkorange !important;
    width: 10em;
    height: 3em;
}