.paymentText{
    font-size: 3em;
    color: darkorange;
    text-align: center;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.formValues{
    padding: 0em 5rem 0em 5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.completeRow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.halfRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    margin-bottom: 2em;
    justify-items: center;
}

.inputForm{
    width: 100%;
}