.offerText{
    text-align: center;
    color: darkorange;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 4em;
    column-gap: 2em;
    margin-left: 2em;
    margin-right: 2em;
}