.offerInfoContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5em;
    column-gap: 5em;
    margin: 4em;
}

.offerImage{
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 20px -4px rgba(0,0,0,0.6); 
    box-shadow: 5px 5px 20px -4px rgb(0 0 0 / 60%);
}

.imageInfo{
    border-radius: 10px;
}

.OfferInfoDescription{
    font-size: 2em;
    color: darkorange;
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
}

.infoTableRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info{
    margin-left: auto;
    justify-content: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttonOfferInfo {
    margin: 0em 3em 0em 3em !important;
}