.sliderContainer{
    margin: 0em 2em 0em 2em;
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    -webkit-box-shadow: 5px 5px 20px -4px rgba(0,0,0,0.6); 
    box-shadow: 5px 5px 20px -4px rgb(0 0 0 / 60%);
    border-radius: 10px;
    max-width: 20vw;
    max-height: 23vh;
}

.sliderContainer :hover{
    cursor: pointer;
}

.sliderImage{
    background-color: beige;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sliderTextContainer{
    background-color: darkorange;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sliderTextContainer p{
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

.textOffer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.priceOffer{
    margin-left: auto;
    justify-content: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageSlider{
    background: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}